@import 'tailwindcss';

:root {
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  @apply m-0 leading-none;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
}

a,
button,
input,
textarea,
select,
area,
label,
details,
summary {
  pointer-events: auto;
}
